---
<html lang="en">
<head>
<meta charset="utf8" />
<title>Ganzo Decor</title>
</head>
<body style="font-family:system-ui; text-align:ce
  <h1>Ganzo Decor </h1>
  <p>Deployed on netlify. build works!</p>
</body>
</html>
