<html lang="en">
<head>
<meta charset="utf-8" />
<title>Ganzo Decor</title>
</head>
<body style="font-family:system-ui; text-align:center; padding:100px">
  <h1>Ganzo Decor 🎉</h1>
  <p>Deployed on Netlify. Build works!</p>
</body>
</html>
