---
<html lang="en">
<head><title>Ganzo Decor</title></head>
<body style="font-family:system-ui; padding:40px; text-align:center">
  <h1>Welcome to Ganzo Decor 🪴</h1>
  <p>Site is live! Now adding blog posts...</p>
  <a href="/blog">Go to Journal</a>
</body>
</html>
